/* Style sheet import */
@import url(../css/zs_gameboard.css);
@import url(../css/GCstyle.css);

/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* General styling */

h1,
h2,
h3,
h4,
h5 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 500;
}

p {
  font-family: "Ubuntu Mono", monospace;
}

.grayed {
  color: rgba(0, 0, 0, 0.5);
  filter: grayscale(100%) !important;
}

:root {
  /* Colour Variables */

  --BG: #133F4A;
  --BGDark: #06151E;
  --Medium: #40E0d0;
  --Bright: #6fffe9;
  --offwhite: #fafafafa;
  --filter: none;
  color: var(--BGDark);
}

:root .add-question-form input,
.add-question-form select,
.add-question-form textarea {
  color: var(--BGDark);
}

[data-theme="orange"] {
  --BG: #4A3113;
  --BGDark: #1E1506;
  --Medium: #FFA500;
  --Bright: #FFC966;
  --offwhite: #FAEBD7;
  --filter: sepia(1) saturate(2.8) brightness(0.9) hue-rotate(-10deg);
}

[data-theme="green"] {
  --BG: #2E4A13;
  --BGDark: #1C2E06;
  --Medium: #32CD32;
  --Bright: #98FB98;
  --offwhite: #F0FFF0;
  --filter: sepia(1) saturate(4) brightness(1.25) hue-rotate(65deg);
}

[data-theme="light"] {
  --BG: #F0F0F0;
  --BGDark: #D0D0D0;
  --Medium: #000000;
  --Bright: #330000;
  --offwhite: #FFFFFF;
  --filter: invert(0.9) brightness(0.5) contrast(1.2);


}


.row {
  padding: 0px;
  margin: 0px;
}

#Logo {
  height: 20vh;
  margin-left: 20px;
  margin-right: 20px;
  filter: var(--filter);
}

/* Game board */

#gameBoard {
  position: relative;
  background-color: var(--BGDark);
  min-height: 100vh;
  height: auto;
  width: 100%;

  border: var(--Medium) solid 2px;


}

#screen_scanlines,
#screen_bezel {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100000;

}

/* Scanline opacity - Zara */

#screen_scanlines {
  opacity: 0.52;
}

.zs_folder_row {
  min-height: 75vh;
  min-width: 100%;
}

/* Footer */

#gameMenu {

  background-color: var(--BGDark);
  min-height: 15vh;
  height: auto;
  color: var(--Bright);
  font-size: 1rem;
  margin-bottom: 20px;
}

.modal-content h2 {
  font-size: 2.5rem;
}


.questionSection {
  font-size: 1.5rem;
}

.btn {
  color: var(--Bright)
}

.btn:hover {
  color: var(--BGDark);
  background-color: var(--Bright)
}

.btn-group-lg>.btn,
.btn-lg {
  font-size: 2rem;
}

/* Question Modals */

.text-submit-button {
  padding: 10px;
  font-size: 1rem;
  margin: 10px;
}

.answer-button,
.boolean-button {
  padding: 10px;
  font-size: 1, 5rem;
  margin: 10px;

}

/* Folder icons */

.square {
  background: url("../images/Closed Folder.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  height: 10vh;
  width: calc(10vh * 1.083);
  margin: 10px;
  transition: all 0.05s ease-in-out;
  -moz-transition: all 0.05s ease-in-out;
  -webkit-transition: all 0.05s ease-in-out;
  -o-transition: all 0.05s ease-in-out;
  filter: var(--filter);
}

.player-square {
  background: url("../images/Open Folder.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  height: 10vh;
  width: calc(10vh * 1.214);
  margin: 10px;
  transition: all 0.05s ease-in-out;
  -moz-transition: all 0.05s ease-in-out;
  -webkit-transition: all 0.05s ease-in-out;
  -o-transition: all 0.05s ease-in-out;
}


.correct-square {
  background: url("../images/Correct Folder.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  height: 10vh;
  width: calc(10vh * 1.083);
  margin: 10px;
  transition: all 0.05s ease-in-out;
  -moz-transition: all 0.05s ease-in-out;
  -webkit-transition: all 0.05s ease-in-out;
  -o-transition: all 0.05s ease-in-out;
}

.incorrect-square {
  background: url("../images/Incorrect Folder.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  height: 10vh;
  width: calc(10vh * 1.083);
  margin: 10px;
  transition: all 0.05s ease-in-out;
  -moz-transition: all 0.05s ease-in-out;
  -webkit-transition: all 0.05s ease-in-out;
  -o-transition: all 0.05s ease-in-out;
}


/* Buttons */

.btn,
.answer-button {
  font-family: "Ubuntu Mono", monospace;
}

/* About Page */

ul li {
  font-family: "Ubuntu Mono", monospace;
}

/* Social links */


.social-links li a i {
  font-size: 40px;
  color: var(--Bright);
  padding: 1rem;
  border-radius: 10px;
}

.social-links li a i:hover {
  color: var(--BGDark);
}

.social-links {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

.social-link {
  color: var(--Bright);
  text-decoration: none;
}

.social-link:hover {
  color: var(--BGDark);
  background-color: var(--Bright);
  border-radius: 20%;
  transition: all 0.05s ease-in-out;
  -moz-transition: all 0.05s ease-in-out;
  -webkit-transition: all 0.05s ease-in-out;
  -o-transition: all 0.05s ease-in-out;
}


/* Theme toggles */

#theme-toggle {
  margin-bottom: 25px;
}

/* Media query for laptops and larger */

@media (min-width: 780px) {}


/* Media query for phones */

@media (max-width: 768px) {

  .square {
    background-size: 95%;

  }

  #Logo {
    display: none;
  }

}

/* Media query for xs phones */

@media (max-width: 575px) {


  .zs_hidden {
    display: none;
  }

}