/* #gameMenu{
    background-color:var(--BGDark);
    min-height: 130px;
    border-bottom: var(--Cyan) solid 5px;
    border-left: var(--Cyan) solid 5px;
    border-right: var(--Cyan) solid 5px;
    color: var(--CyanBright);
  } */
  
  .square{
    background-color: var(--CyanBright);
    height:100px;
    width: 100px;
    margin: 10px;
    box-shadow: 120px 80px 40px 20px #0ff;
  
  }
  
  .player-square{
    background-color: rgb(255, 0, 0);
    height:100px;
    width: 100px;
    margin: 10px;
  }